
/* 스마트폰 세로*/
@media only screen and (max-width : 320px) { 
	.wrapper { width:100%;}
	.header { width:100%;  }
	.header .menu {  } 

	.contents { width:100%;   }
	.contents .section { width:100%;}	
    .profile-inner .column-2-1 { width:100%;}
    .profile-inner .column-2-2 { width:100%; }
}
/* 스마트폰 가로 */
@media only screen and (min-width : 321px) { 
	.wrapper { width:100%;}
	.header { width:100%;  }
	.header .menu {  } 

	.contents { }
	.contents .section {}

}
/* 스마트폰 고해상도 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}

/* 태블릿 세로 */
@media only screen and
(min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* 태블릿 가로 */
@media only screen and
(min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 

}